*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/app/app.iml
/app/build.gradle
/library/assets
/library/bin
/library/gen
/library/.project